engine-strict=true
# .npmrc
pnpm.allowBuilds[]=@parcel/watcher
pnpm.allowBuilds[]=esbuild
pnpm.allowBuilds[]=@tailwindcss/oxide
pnpm.allowBuilds[]=sharp
pnpm.allowBuilds[]=workerd

# Explicitly setting the boolean values:
pnpm.allowBuilds.@parcel/watcher=false
pnpm.allowBuilds.esbuild=true
pnpm.allowBuilds.@tailwindcss/oxide=true
pnpm.allowBuilds.sharp=false
pnpm.allowBuilds.workerd=true